NAME:  Emmanuel Akpandara
STUDENT NUMBER: r0879038

# Question 3: Pandas

For this question you work with 2 csv files containing data on car sales: 
  1. Sales.csv contains general information about the sale of the car like manufacturer, model, price, ...  
  2. Customers.csv contains information about the customer like gender, age, annual income, profession, ... 
 


**Step 1:**
* Import the necessary libraries.  
* Load the two files "Sales.csv" and "Customers.csv" in 2 separate dataframes. 
* Print the first 5 records of each dataframe.

In [9]:
# Step 1:
import pandas as pd
salesFile = pd.read_csv('./Sales.csv',sep=',',index_col="CustomerID")
CustomerFile= pd.read_csv('./Customers.csv',sep=',',index_col="CustomerID")
firstFiveSales = salesFile[:5]
firstFiveCustomer = CustomerFile[:5]
print(firstFiveSales)
print(firstFiveCustomer)

           Manufacturer    Model Vehicle_type  Price  Engine_size
CustomerID
C1                Acura  Integra    Passenger  21500          1.8
C2                Acura       TL    Passenger  28400          3.2
C3                Acura       RL    Passenger  42000          3.5
C9                 Audi       A4    Passenger  23990          1.8
C11                 BMW     323i    Passenger  26990          2.5
            Gender  Age  Annual Income ($)     Profession  Family Size
CustomerID
C1            Male   19              15000     Healthcare            4
C2            Male   21              35000       Engineer            3
C3          Female   20              86000       Engineer            1
C4          Female   23              59000         Lawyer            2
C5          Female   31              38000  Entertainment            6

 **Step 2:**   
 * Combine the 2 dataframes into 1 dataframe named 'df_sales'. Make sure you keep all the rows in Customers.csv!
 * Print the first 5 rows of the combined dataframe.
 * Print an overview of all the columns in the combined dataframe.

In [16]:
# Step 2:
df_sales = pd.merge(salesFile,CustomerFile,left_index=True,right_on='CustomerID')
print(df_sales[:5]) #first 5 rows
print(df_sales.info) #overview

           Manufacturer    Model Vehicle_type  Price  Engine_size  Gender  \
CustomerID
C1                Acura  Integra    Passenger  21500          1.8    Male
C2                Acura       TL    Passenger  28400          3.2    Male
C3                Acura       RL    Passenger  42000          3.5  Female
C9                 Audi       A4    Passenger  23990          1.8    Male
C11                 BMW     323i    Passenger  26990          2.5    Male

            Age  Annual Income ($)  Profession  Family Size
CustomerID
C1           19              15000  Healthcare            4
C2           21              35000    Engineer            3
C3           20              86000    Engineer            1
C9           64              97000    Engineer            3
C11          67               7000    Engineer            3
<bound method DataFrame.info of            Manufacturer           Model Vehicle_type  Price  Engine_size  \
CustomerID
C1                Acura         Integra    Passenger  21500          1.8
C2                Acura              TL    Passenger  28400          3.2
C3                Acura              RL    Passenger  42000          3.5
C9                 Audi              A4    Passenger  23990          1.8
C11                 BMW            323i    Passenger  26990          2.5
C4            Chevrolet        Cavalier    Passenger  13260          2.2
C5            Chevrolet          Malibu    Passenger  16535          3.1
C6             Chrysler   Sebring Coupe    Passenger  19840          2.5
C7             Chrysler        Concorde    Passenger  22245          2.7
C8             Chrysler          Cirrus    Passenger  16480          2.0
C10                Ford          Escort    Passenger  12070          2.0
C12                Ford         Mustang    Passenger  21560          3.8
C13                Ford         Contour    Passenger  17035          2.5
C14                Ford          Taurus    Passenger  17885          3.0
C15               Honda           Civic    Passenger  12885          1.6
C16               Honda          Accord    Passenger  15350          2.3
C17               Honda            CR-V          Car  20550          2.0
C18             Hyundai          Accent    Passenger   9699          1.5
C19              Jaguar          S-Type    Passenger  42800          3.0
C20                Jeep        Wrangler          Car  14460          2.5
C20                Jeep        Cherokee          Car  21620          4.0
C21               Lexus           ES300    Passenger  31505          3.0
C22               Lexus           GS300    Passenger  37805          3.0
C23          Mitsubishi          Galant    Passenger  17357          2.4
C24          Mitsubishi        Diamante    Passenger  24997          3.5
C26          Mitsubishi   Montero Sport          Car  22527          3.0
C32          Mercedes-B         S-Class    Passenger  69700          4.3
C27              Nissan          Sentra    Passenger  13499          1.8
C28              Nissan          Altima    Passenger  20390          2.4
C29              Nissan          Maxima    Passenger  26249          3.0
C30             Porsche          Boxter    Passenger  41430          2.7
C31             Porsche  Carrera Cabrio    Passenger  74970          3.4
C33              Subaru         Outback    Passenger  22695          2.5
C34              Subaru        Forester          Car  20095          2.5
C35              Toyota         Corolla    Passenger  13108          1.8
C36              Toyota           Camry    Passenger  17518          2.2
C37              Toyota          Celica    Passenger  16875          1.8
C38          Volkswagen            Golf    Passenger  14955          2.0
C39          Volkswagen          Passat    Passenger  21582          1.8
C40          Volkswagen          Beetle    Passenger  15900          2.0
C41               Volvo             S40    Passenger  23455          1.9
C42               Volvo             V40    Passenger  24480          1.9
C43               Volvo             S70    Passenger  27545          2.4
C44               Volvo             S80    Passenger  36455          2.9

            Gender  Age  Annual Income ($)     Profession  Family Size
CustomerID
C1            Male   19              15000     Healthcare            4
C2            Male   21              35000       Engineer            3
C3          Female   20              86000       Engineer            1
C9            Male   64              97000       Engineer            3
C11           Male   67               7000       Engineer            3
C4          Female   23              59000         Lawyer            2
C5          Female   31              38000  Entertainment            6
C6          Female   22              58000         Artist            2
C7          Female   35              31000     Healthcare            3
C8          Female   23              84000     Healthcare            3
C10         Female   30              98000         Artist            4
C12         Female   35              93000     Healthcare            4
C13         Female   58              80000      Executive            5
C14         Female   24              91000         Lawyer            1
C15           Male   37              19000         Doctor            1
C16           Male   22              51000     Healthcare            2
C17         Female   35              29000      Homemaker            5
C18           Male   20              89000     Healthcare            6
C19           Male   52              20000  Entertainment            4
C20         Female   35              62000         Artist            1
C20         Female   35              62000         Artist            1
C21           Male   35              96000      Homemaker            1
C22           Male   25               4000     Healthcare            4
C23         Female   46              42000         Artist            2
C24           Male   31              71000         Artist            2
C26           Male   29              52000         Artist            3
C32         Female   21              34000         Doctor            2
C27         Female   45              68000     Healthcare            8
C28           Male   35              78000         Artist            3
C29         Female   40              18000         Artist            1
C30         Female   23              20000         Artist            4
C31           Male   60              39000         Artist            3
C33           Male   53              59000     Healthcare            3
C34           Male   18              62000      Homemaker            7
C35         Female   49              91000         Lawyer            2
C36         Female   21              95000     Healthcare            4
C37         Female   42              14000         Doctor            1
C38         Female   30              62000     Healthcare            5
C39         Female   36               9000         Artist            2
C40         Female   20              69000         Artist            2
C41         Female   65              25000         Artist            1
C42           Male   24              85000     Healthcare            2
C43           Male   48              22000         Artist            3
C44         Female   31              33000         Artist            2  >

 **Step 3:**  

  * Do a column cleanup: 
    * lowercase all the column names
    * rename 'annual income ($)' into 'annual_income'
    * rename 'family size' into 'family_size'  
  * Print the overview of the basic statistical characteristics of the numeric features (number non-missing values, mean, median, 0.25 and 0.75 quartiles, min, max and standard deviation)

In [20]:
# Step 3:

df_sales.columns = [col.lower() for col in df_sales]
df_sales.rename({'annual income ($)':'annual_income'}, axis="columns")

,manufacturer,model,vehicle_type,price,engine_size,gender,age,annual_income,profession,family size
CustomerID,,,,,,,,,,
C1,Acura,Integra,Passenger,21500,1.8,Male,19,15000,Healthcare,4
C2,Acura,TL,Passenger,28400,3.2,Male,21,35000,Engineer,3
C3,Acura,RL,Passenger,42000,3.5,Female,20,86000,Engineer,1
C9,Audi,A4,Passenger,23990,1.8,Male,64,97000,Engineer,3
C11,BMW,323i,Passenger,26990,2.5,Male,67,7000,Engineer,3
C4,Chevrolet,Cavalier,Passenger,13260,2.2,Female,23,59000,Lawyer,2
C5,Chevrolet,Malibu,Passenger,16535,3.1,Female,31,38000,Entertainment,6
C6,Chrysler,Sebring Coupe,Passenger,19840,2.5,Female,22,58000,Artist,2
C7,Chrysler,Concorde,Passenger,22245,2.7,Female,35,31000,Healthcare,3
C8,Chrysler,Cirrus,Passenger,16480,2.0,Female,23,84000,Healthcare,3
C10,Ford,Escort,Passenger,12070,2.0,Female,30,98000,Artist,4
C12,Ford,Mustang,Passenger,21560,3.8,Female,35,93000,Healthcare,4
C13,Ford,Contour,Passenger,17035,2.5,Female,58,80000,Executive,5
C14,Ford,Taurus,Passenger,17885,3.0,Female,24,91000,Lawyer,1
C15,Honda,Civic,Passenger,12885,1.6,Male,37,19000,Doctor,1
C16,Honda,Accord,Passenger,15350,2.3,Male,22,51000,Healthcare,2
C17,Honda,CR-V,Car,20550,2.0,Female,35,29000,Homemaker,5
C18,Hyundai,Accent,Passenger,9699,1.5,Male,20,89000,Healthcare,6
C19,Jaguar,S-Type,Passenger,42800,3.0,Male,52,20000,Entertainment,4
C20,Jeep,Wrangler,Car,14460,2.5,Female,35,62000,Artist,1
C20,Jeep,Cherokee,Car,21620,4.0,Female,35,62000,Artist,1
C21,Lexus,ES300,Passenger,31505,3.0,Male,35,96000,Homemaker,1
C22,Lexus,GS300,Passenger,37805,3.0,Male,25,4000,Healthcare,4
C23,Mitsubishi,Galant,Passenger,17357,2.4,Female,46,42000,Artist,2
C24,Mitsubishi,Diamante,Passenger,24997,3.5,Male,31,71000,Artist,2
C26,Mitsubishi,Montero Sport,Car,22527,3.0,Male,29,52000,Artist,3
C32,Mercedes-B,S-Class,Passenger,69700,4.3,Female,21,34000,Doctor,2
C27,Nissan,Sentra,Passenger,13499,1.8,Female,45,68000,Healthcare,8
C28,Nissan,Altima,Passenger,20390,2.4,Male,35,78000,Artist,3
C29,Nissan,Maxima,Passenger,26249,3.0,Female,40,18000,Artist,1
C30,Porsche,Boxter,Passenger,41430,2.7,Female,23,20000,Artist,4
C31,Porsche,Carrera Cabrio,Passenger,74970,3.4,Male,60,39000,Artist,3
C33,Subaru,Outback,Passenger,22695,2.5,Male,53,59000,Healthcare,3
C34,Subaru,Forester,Car,20095,2.5,Male,18,62000,Homemaker,7
C35,Toyota,Corolla,Passenger,13108,1.8,Female,49,91000,Lawyer,2
C36,Toyota,Camry,Passenger,17518,2.2,Female,21,95000,Healthcare,4
C37,Toyota,Celica,Passenger,16875,1.8,Female,42,14000,Doctor,1
C38,Volkswagen,Golf,Passenger,14955,2.0,Female,30,62000,Healthcare,5
C39,Volkswagen,Passat,Passenger,21582,1.8,Female,36,9000,Artist,2
C40,Volkswagen,Beetle,Passenger,15900,2.0,Female,20,69000,Artist,2
C41,Volvo,S40,Passenger,23455,1.9,Female,65,25000,Artist,1
C42,Volvo,V40,Passenger,24480,1.9,Male,24,85000,Healthcare,2
C43,Volvo,S70,Passenger,27545,2.4,Male,48,22000,Artist,3
C44,Volvo,S80,Passenger,36455,2.9,Female,31,33000,Artist,2

 **Step 4:**  
* Print a table that shows per manufacturer the total sales (= sum of prices of all cars purchased by customers).   
* Sort the data by the total sales in descending order.  
* Print the 5 first rows.  


![](../files/pandas4.png)

In [ ]:
# Step 4:

 **Step 5:**  
Print a table showing per manufacturer and per gender the number of sales transactions, the total sales and the mean sales.  

The first records look like the screenshot below:

![](../files/pandas5.png)

In [ ]:
# Step 5:

 **Step 6:**  
Create a boxplot that shows per gender the distribution of the sales prices.

In [ ]:
# Step 6:

Explain what you can conclude based on this visualisation. 
Answer in markdown.